@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center">
  <h1>@ViewData["Title"]</h1>
  <img class="foto" src="~/images/spaidi.jpeg" style="width: 500px; " alt="spiderman">
  <p>Llegas al lugar mas oscuro y privatizado de Ciudad Gotica</p>
</div>
